<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>minimalistTabTracker</title>
</head>

<body>
<h1>## minimalistTabTracker ##</h1>

<!-- Buttons to change displays -->
<a href="/"><button id="unPaidButton">Unpaid Tabs</button></a>
<a href="/paid"><button id="paidButton">Paid Tabs</button></a>
<a href="/all"><button id="allButton">All Tabs</button></a>
<a href="/newTabForm"><button id="newFormButton">Add new tab</button></a>


<!-- Use values passed from index.ejs 'usertabs' in the template -->
<h2><%= category %> tabs: </h2>
<ul>
<% usertabs.forEach(usertab => {%>
    <li>User: <%= usertab.Debtor %> | Amount: <%= usertab.TabAmount %> | Description: <%= usertab.TabDescription %> | Status: <%= usertab.status %></li>
<% }); %> 
</ul>



</body>
</html>